
@font-face {
	font-family: 'Open sans';
	src: url('../fonts/open-sans-300.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Open sans';
	src: url('../fonts/open-sans-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Open sans';
	src: url('../fonts/open-sans-700.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Tenor sans';
	src: url('../fonts/tenor-sans.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

