@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {

}

// ≥992px
@include media-breakpoint-down(md) {

	.logo__block {
		margin: 0 auto;
		text-align: center;
	}

	.header__social__list,
	.header__phone, 
	.menu {
		display: none;
	}
	
	
.reviews {
	.reviews__item {
		max-width: 500px;
	}
	}

	.burger__label {
		display: block;
		.burger__icon {
			top: 2%;
		}
	 }




}

// ≥768px
@include media-breakpoint-down(sm) {

	.logo__block {
		margin: 0 auto;
		text-align: center;
		img {
			max-width: 150px;
		}
	}

	.header__social__list,
	.header__phone, 
	.menu {
		display: none;
	}

	.why {
	.comparison__main {
		font-size: 21px;
		max-width: 377px;
	}
}

.reviews {
	.reviews__item {
		max-width: 350px;
	}
	}

	.burger__label {
		display: block; 
	 }

}

// ≥576px
@include media-breakpoint-down(xs) {

	.logo__block {
		margin: 0 auto;
		text-align: center;
		img {
			max-width: 117px;
		}
	}

	.main__title {
		font-size: 20px;
	}
	
	.header__text {
		font-size: 10px;
		max-width: 205px;
	}
	.sub__title {
		font-size: 19px;
	}

	.header__item {
		padding: 0;
		max-width: 150px;
		&:nth-child(2n) {
			margin-right: 0;
		}
		img {
			max-width: 100px;
			margin: 0;
		}
		.header__item__img--3 {
			max-width: 50px;
			padding-top: 30px;
		}
		.header__item__desc {
		font-family: 'Helvetica NC';
		font-size: 8px;
		padding: 0;
		margin: 0;
		}	
	}
	
	.header__social__list,
	.header__phone, 
	.menu {
		display: none;
	}
	 .header {
		 max-height: 670px;
		 min-height: 500px;
	 }

 .center__title {
		font-size: 20px;
	}

.advantages {
	svg {
		max-width: 65px;
		max-height: 70px;
	}
	.adv__desc {
	font-size: 9px;
	}
}

.why {
	.why__desc {
		font-size: 12px;
		&.comparison__experts {
			font-weight: 700;
		}
	}
	.comparison__text {
		font-size: 9px;
	}
	.comparison__small{
	font-size: 7px;
	font-weight: 700;
	}
	.comparison__total {
	font-size: 11px;
	}
	.comparison__main {
	font-size: 19px;
	max-width: 312px;
}
	}

	.cost {
		.cost__desc {
			font-size: 12px;
			font-weight: 600;
			line-height: 14px;
			margin-bottom: 0;
		}
		.cost__item__title {
			font-size: 13px;
			max-width: 235px;
			text-align: center;
			margin: 0 auto 20px;
			font-weight: bold;
		}
		.cost__item__text {
			font-size: 10px;
			text-align: center;
			font-weight: 600;
		}
		.cost__item__img {
			max-width: 80%;
		}
		.cost__item__img--3 {
			margin-top: -10%;
			margin-bottom: 20px;
		}
	}

	.slider__buyout {	
		.owl-nav {
		position: relative;
			.owl-prev, .owl-next {
				position: absolute;
				bottom: 100%;
				left: 70%;
				transform: translate(100%, -407%);
			}
			.owl-prev {
				left: 19%;
				transform: translate(0%, -407%);
				opacity: 0.3;
				display: none;
			}
		}
		.buyout__item {
			max-width: 162px;
			text-align: center;
			margin: 0 auto;
			background-size: 30%;
			padding-top: 80px;
			&:before {
				display: none;
				}
		}
		.buyout__desc {
		font-size: 9px;
		font-weight: 600;
		}
		.buyout__title {
		font-size: 12px;
		}
	}

	.prof {
		.prof__desc {
			font-size: 12px;
			font-weight: 600;
			line-height: 1.25;
		}
	}

	
.about__black {
	.about__black__text {
		font-size: 11px;
		font-weight: 400;
	}
}

.reviews {
	.reviews__item {
		font-size: 11px;
		max-width: 260px;
		&:before {
			content: '';
			background-size: 11px;
			width: 11px;
			left: -20px;
		}
		.reviews__item__text {
		min-height: 160px;
		margin-bottom: 38px;
		}
	}
	.blockquote__footer {
		font-size: 14px;
		text-align: center;
		margin-top: 0;
		left: 0;
		span {
			margin-top: 14px;
			font-size: 8px;
		}
	}
	.owl-nav {
		font-size: 25px;
		font-weight: 300;
	}
	.owl-prev {
		position: absolute;
		left: 4vw;
		top: 40%;
	}
	.owl-next {
		position: absolute;
		right: 4vw;
		top: 40%;
	}
}

.footer__contacts {
	font-size: 14px;
	.footer__time {
		font-size: 12px;	
	}
	.footer__logo,
	.footer__item {
		margin-bottom: 20px;
	}
.footer__item {
	background-image: none;
	background: none;
	padding-left: 0;
	&:nth-child(2), 
	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(5)  {
		background: none;
	}
}
	}

 .burger__label {
		display: block; 
	 }

}





/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {


}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
