@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {

}

// ≥992px
@include media-breakpoint-down(md) {

	.logo__block {
		margin: 0 auto;
		text-align: center;
	}

	.header__social__list,
	.header__phone, 
	.menu {
		display: none;
	}
	

}

// ≥768px
@include media-breakpoint-down(sm) {

	.logo__block {
		margin: 0 auto;
		text-align: center;
		img {
			max-width: 150px;
		}
	}

	.header__social__list,
	.header__phone, 
	.menu {
		display: none;
	}
}

// ≥576px
@include media-breakpoint-down(xs) {

	.logo__block {
		margin: 0 auto;
		text-align: center;
		img {
			max-width: 117px;
		}
	}

	.main__title {
		font-size: 20px;
	}
	
	.header__text {
		font-size: 10px;
	}
	.sub__title {
		font-size: 19px;
	}

	.header__item {
		padding: 0;
		max-width: 150px;
		&:nth-child(2n) {
			margin-right: 0;
		}
		img {
			max-width: 100px;
			margin: 0;
		}
		.header__item__img--3 {
			max-width: 50px;
			padding-top: 30px;
		}
		.header__item__desc {
		font-family: 'Helvetica NC';
		font-size: 8px;
		padding: 0;
		margin: 0;
		}	
	}
	
	.header__social__list,
	.header__phone, 
	.menu {
		display: none;
	}
	 .header {
		 max-height: 670px;
		 min-height: 500px;
	 }

 .center__title {
		font-size: 19px;
	}

.advantages {
	svg {
		max-width: 65px;
		max-height: 70px;
	}
	.adv__desc {
	font-size: 9px;
	}
}

.why {
	.why__desc {
		font-size: 12px;
	}
}


}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {


}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
